:root {
  --hero-bg-color: #ffb8ca;
  --btn-first-color: #d41443;
  --btn-first-color-hover: #d41342;
  --circle-title-color: #ffa5ba;
  --socials-bg-color: #fea5bb;
  --footer-bg-color: #fff5f6;
  --mob-menu-bg-color: #e17992;
  --black-color: #000000;
  --brown-color-text: #907e82;
  --white-color: #ffffff;
}
