<section class="section section-about">
  <div class="container">
    <div class="section-about__title">
      <p class="section-about__title-label">tradition and love</p>
      <h2 class="section-about__title-primary">how it’s made?</h2>
    </div>
    <div class="section-about__wraper">
      <div class="section-about__image-thumb">
        <picture class="section-about__image">
          <!-- <source
          srcset="./images/mobil/cow-pc-1x.png 1x, ./images/mobil/cow-pc-2x.png 2x"
          media="(min-width: 1200px)"
        />
        <source
          srcset="./images/mobil/cow-tab-1x.png 1x, ./images/mobil/cow-tab-2x.png 2x"
          media="(min-width: 768px)"
        /> -->
          <source
            srcset="./images/mobil/cow-mobil-1x.png 1x, ./images/mobil/cow-mobil-2x.png 2x"
            media="(max-width: 767px)"
          />
          <img src="./images/mobil/cow-mobil-1x.png" alt="Эко-коровка" />
        </picture>
      </div>
      <div class="section-about__inform">
        <p class="section-about__inform-primary">
          Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo cursus, faucibus
          lorem eget, egestas eros. Maecenas eleifend erat at justo fringilla.
        </p>
        <p class="section-about__inform-secondary">
          Curabitur lacinia enim at ex blandit, vel pellentesque odio elementum. Mauris rhoncus orci
          in imperdiet placerat. Vestibulum euismod nisl suscipit ligula volutpat, a feugiat urna
          maximus. Cras massa nibh, tincidunt.
        </p>
        <p class="section-about__inform-secondary">Aliquam erat volutpat. Aenean accumsan.</p>
        <button type="button" class="section-about__button button button-forward">
          Read more
          <svg class="section-about__button--icon" width="4.43" height="8">
            <use href=""></use>
          </svg>
        </button>
      </div>
    </div>
  </div>
</section>
