<section class="section section-about scroll-animation animation" id="about">
  <div class="section-about__container container">
    <div class="section-about__title">
      <p data-aos="fade-right" class="section-about__title-label">tradition and love</p>
      <h2 data-aos="fade-right" class="section-about__title-primary">how it’s made?</h2>
    </div>
    <div class="section-about__wraper">
      <div data-aos="zoom-in" data-aos-offset="400" class="section-about__image-thumb">
        <picture class="section-about__image">
          <source
            srcset="./images/desktop/cow-desktop@1x.png 1x, ./images/desktop/cow-desktop@2x.png 2x"
            media="(min-width: 1280px)"
          />
          <source
            srcset="./images/tablet/cow-tablet@1x.png 1x, ./images/tablet/cow-tablet@2x.png 2x"
            media="(min-width: 321px)"
          />
          <source
            srcset="./images/mobil/cow-mobil@1x.png 1x, ./images/mobil/cow-mobil@2x.png 2x"
            media="(max-width: 320px)"
          />
          <img src="./images/mobil/cow-mobil@1x.png" alt="Эко-коровка" />
        </picture>
      </div>
      <div class="section-about__inform">
        <p data-aos="fade-up" class="section-about__inform-primary">
          Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo cursus, faucibus
          lorem eget, egestas eros. Maecenas eleifend erat at justo fringilla.
        </p>
        <p data-aos="fade-up" class="section-about__inform-secondary">
          Curabitur lacinia enim at ex blandit, vel pellentesque odio elementum. Mauris rhoncus orci
          in imperdiet placerat. Vestibulum euismod nisl suscipit ligula volutpat, a feugiat urna
          maximus. Cras massa nibh, tincidunt.
        </p>
        <p data-aos="fade-up" class="section-about__inform-secondary">
          Aliquam erat volutpat. Aenean accumsan.
        </p>
        <button
          data-aos="fade-up"
          data-aos-offset="50"
          type="button"
          class="section-about__button"
          data-modal-open
        >
          Read more
          <svg class="section-about__button--icon" width="10" height="20">
            <use href="./images/sprite.svg#icon-small-arrow"></use>
          </svg>
        </button>
      </div>
    </div>
  </div>

  <div class="section-about__backdrop is-hidden-modal" data-modal>
    <div class="section-about__modal">
      <div class="section-about__modal-close" data-modal-close>X</div>

      <div class="section-about__modal-inform">
        <p class="section-about__modal-inform-primary">
          Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo cursus, faucibus
          lorem eget, egestas eros. Maecenas eleifend erat at justo fringilla.
        </p>
        <p class="section-about__modal-inform-secondary">
          Curabitur lacinia enim at ex blandit, vel pellentesque odio elementum. Mauris rhoncus orci
          in imperdiet placerat. Vestibulum euismod nisl suscipit ligula volutpat, a feugiat urna
          maximus. Cras massa nibh, tincidunt.
        </p>
        <p class="section-about__modal-inform-secondary">
          Aliquam erat volutpat. Aenean accumsan. Lorem, ipsum dolor sit amet consectetur
          adipisicing elit. Tenetur eius voluptatem labore nemo molestiae? Temporibus ducimus
          quisquam laborum harum quas.
        </p>

        <p class="section-about__modal-inform-secondary">
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Tenetur eius voluptatem labore
          nemo molestiae? Temporibus ducimus quisquam laborum harum quas.
        </p>
      </div>
    </div>
  </div>
</section>
