<div class="advantages-describe">
  <div class="container">
    <h2 class="visually__hidden">Our advantages</h2>
    <ul class="advantages__item">
      <li class="advantages__list">
        <div class="advantages__icon">
          <svg class="advantages__svg" width="33" height="50">
            <use href="./images/milksprite.svg#icon-icon1" class="adv-icon"></use>
          </svg>
        </div>

        <h3 class="advantages__figure">721</h3>
        <p class="advantages__text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
      </li>

      <li class="advantages__list">
        <div class="advantages__icon">
          <svg class="advantages__svg" width="50" height="50">
            <use href="./images/milksprite.svg#icon-icon2" class="adv-icon"></use>
          </svg>
        </div>

        <h3 class="advantages__figure">16kg</h3>
        <p class="advantages__text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
      </li>

      <li class="advantages__list">
        <div class="advantages__icon">
          <svg class="advantages__svg" width="44" height="50">
            <use href="./images/milksprite.svg#icon-icon3" class="adv-icon"></use>
          </svg>
        </div>
        <h3 class="advantages__figure">84</h3>
        <p class="advantages__text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
      </li>
    </ul>
  </div>
</div>
