<section class="section advantages-section" id="advantages">
  <div class="container advantages-container">
    <h2 class="visually__hidden">Our advantages</h2>
    <ul class="advantages__list list-no-ls">
      <li class="advantages__item">
        <div class="advantages__card">
          <p class="advantages__figure advantages__figure-milk">721</p>
          <p class="advantages__text">Made only from natural milk</p>
        </div>
      </li>

      <li class="advantages__item">
        <div class="advantages__card">
          <p class="advantages__figure advantages__figure-apple">16kg</p>
          <p class="advantages__text">Only fresh fruit and natural ingredients</p>
        </div>
      </li>

      <li class="advantages__item">
        <div class="advantages__icon">
          <p class="advantages__figure advantages__figure-ice">84</p>
          <p class="advantages__text">Hard on the outside but soft on the inside</p>
        </div>
      </li>
    </ul>
  </div>
  

</section>
