<div class="advantages-describe">
  <div class="container">
    <h2 class="visually__hidden">Our advantages</h2>
    <ul class="advantages__item">
      <li class="advantages__list">
        <div class="advantages__icon">
          <svg class="advantages__svg">
            <!-- <use href=""></use> -->
          </svg>
        </div>

        <h3 class="advantages__figure">721</h3>
        <p class="advantages__text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
      </li>

      <li class="advantages__list">
        <div class="advantages__icon">
          <svg class="advantages__svg">
            <!-- <use href="      "></use> -->
          </svg>
        </div>

        <h3 class="advantages__figure">16kg</h3>
        <p class="advantages__text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
      </li>

      <li class="advantages__list">
        <div class="advantages__icon">
          <svg class="advantages__svg">
            <!-- <use href="      "></use> -->
          </svg>
        </div>
        <h3 class="advantages__figure">84</h3>
        <p class="advantages__text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
      </li>
    </ul>
  </div>
</div>
