<footer class="section section-footer">
  <div class="container footer-container">
    <div class="slogan-wrapp">
      <p class="section-footer__label">homemade ice cream mad</p>
      <p class="section-footer__text">with passion</p>
    </div>
    <div class="soc-wrapp">
      <ul class="section-footer__list list-no-ls">
        <li class="section-footer__item">
          <a class="section-footer__link" href="">
            <!-- <svg>
            <use href=""></use>
          </svg> -->
          </a>
        </li>
        <li class="section-footer__item">
          <a class="section-footer__link" href="">
            <!-- <svg>
            <use href=""></use>
          </svg> -->
          </a>
        </li>
        <li class="section-footer__item">
          <a class="section-footer__link" href="">
            <!-- <svg>
            <use href=""></use>
          </svg> -->
          </a>
        </li>
      </ul>
    </div>
    <p class="section-footer__Tell">
      Feel free to contact<a class="section-footer__mobil" href="tel:+610383766284"
        >+61 (0) 383 766 284</a
      >
    </p>
  </div>
</footer>
<div class="container-copy">
  <p class="container-copy__copyright">&copy; 2019 - IceCream. All Rights Reserved.</p>
</div>
