<picture class="section-gallery">
  <source srcset="./images/desktop/gallery-desktop1x.png 1x, ./images/desktop/gallery-desktop2x.png 2x"
    media="(min-width: 1200px)" />
  <source srcset="./images/tablet/gallery-tablet-1x.png 1x, ./images/tablet/gallery-tablet-2x.png 2x"
    media="(min-width: 768px)" />
  <source srcset="./images/mobil/gallery-mobil-2x.png 1x, ./images/mobil/gallery-mobil-2x.png 2x"
    media="(max-width: 767px)" />
  <img src="./images/mobil/gallery-mobil-1x.png" alt="Галерея" />
</picture>