<section class="section gallary__section">
  <div class="container gallary__container">
    <h2 class="gallary__title visually__hidden">Gallary</h2>
    <div class="gallary__wrapper">
      <ul class="gallary__list list-no-ls">
        <li class="gallary__item-row gallary__item--outside">
          <div class="gallary__content-item gallary__content-item--outside">
            <picture >
              <source srcset="./images/desktop/gallary-desktop1@1х.jpg 1x, ./images/desktop/gallary-desktop1@2х.jpg 2x"
                media="(min-width: 1200px)" />
              <source srcset="./images/tablet/gallary-1-imgtablet@1х.jpg 1x, ./images/tablet/gallary-1-imgtablet@1х.jpg 2x"
              media="(min-width: 768px)" />
              <source srcset="./images/mobil/gallary-1-img_mobile@1х.jpg 1x, ./images/mobil/gallary-1-img_mobile@2х.jpg 2x"
                media="(max-width: 767px)" />
              <img src="./images/mobil/gallary-1-img_mobile@2х.jpg" alt="gallary" class="gallery-img"/>
          </picture>
          </div>
        </li>
        <li class="gallary__item-row gallary__item--middle">
          <div class="gallary__content-item gallary__content-item--middle">
            <picture>
              <source srcset="./images/desktop/gallary-desktop2@1х.jpg 1x, ./images/desktop/gallary-desktop2@2х.jpg 2x"
                media="(min-width: 1200px)" />
              <source srcset="./images/tablet/gallary-2-imgtablet@1х.jpg 1x, ./images/tablet/gallary-2-imgtablet@1х.jpg 2x"
              media="(min-width: 768px)" />
              <source srcset="./images/mobil/gallary-2-img_mobile@1х.jpg 1x, ./images/mobil/gallary-2-img_mobile@2х.jpg 2x"
                media="(max-width: 767px)" />
              <img src="./images/mobil/gallary-2-img_mobile@2х.jpg" alt="gallary" class="gallery-img"/>
          </picture>
          </div>
          <div class="gallary__content-item gallary__content-item--middle">
            <picture>
              <source srcset="./images/desktop/gallary-desktop3@1х.jpg 1x, ./images/desktop/gallary-desktop3@2х.jpg 2x"
                media="(min-width: 1200px)" />
              <source srcset="./images/tablet/gallary-3-imgtablet@1х.jpg 1x, ./images/tablet/gallary-3-imgtablet@1х.jpg 2x"
              media="(min-width: 768px)" />
              <source srcset="./images/mobil/gallary-3-img_mobile@1х.jpg 1x, ./images/mobil/gallary-3-img_mobile@2х.jpg 2x"
                media="(max-width: 767px)" />
              <img src="./images/mobil/gallary-3-img_mobile@2х.jpg" alt="gallary"  class="gallery-img"/>
          </picture>
          </div>
        </li>
        <li class="gallary__item-row gallary__item--inner">
          <div class="gallary__content-item gallary__content-item--inner">
            <picture>
              <source srcset="./images/desktop/gallary-desktop4@1х.jpg 1x, ./images/desktop/gallary-desktop4@2х.jpg 2x"
                media="(min-width: 1200px)" />
              <source srcset="./images/tablet/gallary-4-imgtablet@1х.jpg 1x, ./images/tablet/gallary-4-imgtablet@1х.jpg 2x"
              media="(min-width: 768px)" />
              <source srcset="./images/mobil/gallary-4-img_mobile@1х.jpg 1x, ./images/mobil/gallary-4-img_mobile@2х.jpg 2x"
                media="(max-width: 767px)" />
              <img src="./images/mobil/gallary-4-img_mobile@2х.jpg" alt="gallary" class="gallery-img" />
          </picture>
          </div>
          <div class="gallary__content-item gallary__content-item--inner">
            <picture>
              <source srcset="./images/desktop/gallary-desktop5@1х.jpg 1x, ./images/desktop/gallary-desktop5@2х.jpg 2x"
                media="(min-width: 1200px)" />
              <source srcset="./images/tablet/gallary-5-imgtablet@1х.jpg 1x, ./images/tablet/gallary-5-imgtablet@1х.jpg 2x"
              media="(min-width: 768px)" />
              <source srcset="./images/mobil/gallary-5-img_mobile@1х.jpg 1x, ./images/mobil/gallary-5-img_mobile@2х.jpg 2x"
                media="(max-width: 767px)" />
              <img src="./images/mobil/gallary-5-img_mobile@2х.jpg" alt="gallary" class="gallery-img"/>
          </picture>
          </div>
        </li>
        <li class="gallary__item-row gallary__item--inner">
          <div class="gallary__content-item gallary__content-item--inner">
            <picture>
              <source srcset="./images/desktop/gallary-desktop6@1х.jpg 1x, ./images/desktop/gallary-desktop6@2х.jpg 2x"
                media="(min-width: 1200px)" />
              <source srcset="./images/tablet/gallary-6-imgtablet@1х.jpg 1x, ./images/tablet/gallary-6-imgtablet@1х.jpg 2x"
              media="(min-width: 768px)" />
              <source srcset="./images/mobil/gallary-6-img_mobile@1х.jpg 1x, ./images/mobil/gallary-6-img_mobile@2х.jpg 2x"
                media="(max-width: 767px)" />
              <img src="./images/mobil/gallary-6-img_mobile@2х.jpg" alt="gallary" class="gallery-img"/>
          </picture>

          </div>
          <div class="gallary__content-item gallary__content-item--inner">
            <picture>
              <source srcset="./images/desktop/gallary-desktop7@1х.jpg 1x, ./images/desktop/gallary-desktop7@2х.jpg 2x"
                media="(min-width: 1200px)" />
              <source srcset="./images/tablet/gallary-7-imgtablet@1х.jpg 1x, ./images/tablet/gallary-7-imgtablet@1х.jpg 2x"
              media="(min-width: 768px)" />
              <source srcset="./images/mobil/gallary-7-img_mobile@1х.jpg 1x, ./images/mobil/gallary-7-img_mobile@2х.jpg 2x"
                media="(max-width: 767px)" />
              <img src="./images/mobil/gallary-7-img_mobile@2х.jpg" alt="gallary" class="gallery-img"/>
          </picture>
          </div>
        </li>
        <li class="gallary__item-row gallary__item--middle">
          <div class="gallary__content-item gallary__content-item--middle">
            <picture>
              <source srcset="./images/desktop/gallary-desktop8@1х.jpg 1x, ./images/desktop/gallary-desktop8@2х.jpg 2x"
                media="(min-width: 1200px)" />
              <source srcset="./images/tablet/gallary-8-imgtablet@1х.jpg 1x, ./images/tablet/gallary-8-imgtablet@1х.jpg 2x"
              media="(min-width: 768px)" />
              <source srcset="./images/mobil/gallary-8-img_mobile@1х.jpg 1x, ./images/mobil/gallary-8-img_mobile@2х.jpg 2x"
                media="(max-width: 767px)" />
              <img src="./images/mobil/gallary-8-img_mobile@2х.jpg" alt="gallary" class="gallery-img"/>
          </picture>
          </div>
          <div class="gallary__content-item gallary__content-item--middle">
            <picture>
              <source srcset="./images/desktop/gallary-desktop9@1х.jpg 1x, ./images/desktop/gallary-desktop9@2х.jpg 2x"
                media="(min-width: 1200px)" />
              <source srcset="./images/tablet/gallary-9-imgtablet@1х.jpg 1x, ./images/tablet/gallary-9-imgtablet@1х.jpg 2x"
              media="(min-width: 768px)" />
              <source srcset="./images/mobil/gallary-9-img_mobile@1х.jpg 1x, ./images/mobil/gallary-9-img_mobile@2х.jpg 2x"
                media="(max-width: 767px)" />
              <img src="./images/mobil/gallary-9-img_mobile@2х.jpg" alt="gallary" class="gallery-img"/>
          </picture>
          </div>
        </li>
        <li class="gallary__item-row gallary__item--outside">
          <div class="gallary__content-item gallary__content-item--outside">
            <picture >
              <source srcset="./images/desktop/gallary-desktop10@1х.jpg 1x, ./images/desktop/gallary-desktop10@2х.jpg 2x"
                media="(min-width: 1200px)" />
              <source srcset="./images/tablet/gallary-10-imgtablet@1х.jpg 1x, ./images/tablet/gallary-10-imgtablet@1х.jpg 2x"
              media="(min-width: 768px)" />
              <source srcset="./images/mobil/gallary-1-img_mobile@1х.jpg 1x, ./images/mobil/gallary-1-img_mobile@2х.jpg 2x"
                media="(max-width: 767px)" />
              <img src="./images/mobil/gallary-1-img_mobile@2х.jpg" alt="gallary" class="gallery-img"/>
          </picture>
          </div>
        </li>
      </ul>
    </div>
  </container>
</section>