<header class="header" id="header">
    <div class="container header__container">
        <div class="header__logo">
            <svg width='200' height='50'>
                <use href='../src/images/milksprite.svg#icon-logo-full'></use>
            </svg>
        </div>
        <button class="header__burger">
            <svg class="header__burger--icon" width='20' height='12'>
                <use href='../src/images/milksprite.svg#icon-Burger'></use>
            </svg>
        </button>
    </div>
</header>