<a id="upbutton" href="#"></a>
<header class="header" id="header">
  <div class="container header__container">
    <div class="header__logo">
      <svg width="200" height="50">
        <use href="../src/images/milksprite.svg#icon-logo-full"></use>
      </svg>
    </div>
    <ul class="header__nav-list list-no-ls">
      <li class="header__nav-item">
        <a class="header__nav-text header__nav-text--current link-no-tdn" href="">Home</a>
      </li>
      <li class="header__nav-item">
        <a class="header__nav-text link-no-tdn" href="#contacts-section">About us</a>
      </li>
      <li class="header__nav-item">
        <a class="header__nav-text link-no-tdn" href="#about">How it’s made?</a>
      </li>
      <li class="header__nav-item">
        <a class="header__nav-text link-no-tdn" href="#products">Our products</a>
      </li>
      <li class="header__nav-item">
        <a class="header__nav-text link-no-tdn" href="#contacts-section">Contact</a>
      </li>
    </ul>
    <div class="header__burger-btn">
      <include src="./partials/mobile-menu.html"></include>
      <button class="header__btn" data-modal-buy-open>
        Buy now
        <svg class="header__btn--arrow" width="7" height="10">
          <use href="../src/images/milksprite.svg#icon-arrow2"></use>
        </svg>
      </button>
    </div>
  </div>
</header>
