<section class="hero" id="hero">
    <div class="container hero">
        <div class="hero__bg-circle"></div>
        <div class="hero__bg-ice-cream"></div>
        <h1 class="hero__title">ice cream <br> made with <br> <span class="hero__title--accent">passion</span></h1>
        <ul class="hero__btn-nav-list list-no-ls">
            <li><button class="hero__btn-nav-item">Products</button></li>
            <li><button class='hero__btn-nav-item hero__btn-nav-item--color'>How it’s made?</button></li>
        </ul>
    </div>
</section>

