<button
  class="menu-toggle js-open-menu"
  aria-expanded="false"
  aria-controls="mobile-menu"
>
  <svg class="header__burger--icon" width='20' height='12'>
    <use href='../src/images/milksprite.svg#icon-Burger'></use>
  </svg>
</button>
<div class="menu-container js-menu-container" id="mobile-menu">
  <button class="menu-toggle js-close-menu">
    <svg
      fill="currentColor"
      viewBox="0 0 20 20"
      xmlns="http://www.w3.org/2000/svg"
      width="24"
      height="24"
    >
      <path
        fill-rule="evenodd"
        d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
        clip-rule="evenodd"
      ></path>
    </svg>
  </button>

  <button class="menu-button" data-modal-buy-open><div class="menu-button__text">Buy now</div></button>

  <ul class="mobile-menu">
    <li class="mobile-menu__item">
      <a href="index.html" class="mobile-menu__link mobile-menu__link--active">Home</a>
    </li>
    <li class="mobile-menu__item">
      <a href="#about" class="mobile-menu__link">About us</a>
    </li>
    <li class="mobile-menu__item">
      <a href="#about" class="mobile-menu__link">How it’s made?</a>
    </li>
    <li class="mobile-menu__item">
      <a href="#products" class="mobile-menu__link">Our products</a>
    </li>
    <li class="mobile-menu__item">
      <a href="#contacts-section" class="mobile-menu__link">Contact</a>
    </li>
  </ul>
</div>
<div class="backdrop is-hidden" data-modal-buy>
  <div class="modal">
    <form class="modal__form">
      <p id="contact-details-head">
        Оставьте свои данные, мы вам перезвоним
      </p>
      <div class="form__field">
        <div class="form__row">
          <label for="email" class="form__label">Email</label>
          <input type="text" name="email" id="email" class="form__input" />
        </div>

      <button type="submit" class="button-modal">Отправить</button>
    </form>
    <button class="modal-close-button" data-modal-buy-close>
      x
    </button>
  </div>
</div>