<section class="products" id="products">
    <div class="container products__container">
        <p class="products__text">100% natural</p>
        <h1 class="products__item">products</h1>
        <div class="product-box">
            <ul class="our-product list-no-ls">
                <li class="our-product__section flip-container" ontouchstart="this.classList.toggle('hover');">
                    <div class="flipper">
                        <h2 class="our-product__section-title">ice cream</h2>
                        <p class="our-product__section-article">
                            Ingredients: cream, skim milk, strawberries, cane sugar, egg yolks.
                        </p>
                        <div class="our-product__back">
                            <div class="our-product__back-title">Nadia Lut </div>
                            <p class="our-product__section-article our-product__section-article--dark">
                                I want to say "THANK YOU" for my group №5 and my mentor Andrey for my education</p>
                        </div>
                        <button type="button" class="our-product__section-btn"></button>
                    </div>
                </li>

                <li class="our-product__section our-product__section--yellow">
                    <h2 class="our-product__section-title">ice coffee</h2>
                    <p class="our-product__section-article">
                        Ingredients: strong black coffee, milk, ice, maple syrup, optional
                    </p>
                    <button class="our-product__section-btn"></button>
                </li>
                <li class="our-product__section our-product__section--green">
                    <h2 class="our-product__section-title">milkshakes</h2>
                    <p class="our-product__section-article">
                        Ingredients: milk, chocolate flavored syrup, vanilla ice cream.
                    </p>
                    <button class="our-product__section-btn"></button>
                </li>
            </ul>
        </div>

        <!-- <button type="button" class="menu-close-btn">
    <svg class="menu-close-icon">
        <use href="./img/icons.svg#icon-close"></use>
    </svg>
</button> -->
    </div>
</section>