<section class="products">
    <div class="container">
<p class="products__text">100% natural</p>
<h1 class="products__item">products</h1>
<div class="product-box">
    <ul class="our-product list-no-ls ">
        <li class="our-product__section">
            <img class="our-product__section-img"src="" 
            alt="ice cream"> 
            <h2 class="our-product__section-title">ice cream</h2>
            <p class="our-product__section-article">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et. dolore magna
            aliqua facilisis.</p>
            <button class="our-product__section-btn">
                <svg class="our-product__section-btn-icon">
                    <use href=""></use>
                </svg>
            </button>
        </li>
        <li class="our-product__section our-product__section--yellow" >
            <img class="our-product__section-img" src="" alt="ice coffee">
            <h2 class="our-product__section-title">ice coffee</h2>
            <p class="our-product__section-article">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                tempor incididunt ut labore et. dolore magna
                aliqua facilisis.</p>
            <button class="our-product__section-btn"></button>
        </li>
        <li class="our-product__section our-product__section--green">
            <img class="our-product__section-img" src="" width="320" alt="milkshakes">
            <h2 class="our-product__section-title">milkshakes</h2>
            <p class="our-product__section-article">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                tempor incididunt ut labore et. dolore magna
                aliqua facilisis.</p>
            <button class="our-product__section-btn"></button>
        </li>
    </ul>
</div>
<!-- <img src="/demo.3a1bb503.jpg" alt="" width="320"> -->
    </div>
</section>