<section class="products" id="products">
    <div class="container products__container">
<p class="products__text">100% natural</p>
<h1 class="products__item">products</h1>
<div class="product-box">
    <ul class="our-product list-no-ls ">
        <li class="our-product__section">
            <h2 class="our-product__section-title">ice cream</h2>
            <p class="our-product__section-article">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et. dolore magna
            aliqua facilisis.</p>
        
            <button type="button" class="our-product__section-btn">
            </button>
            
        </li>
        <li class="our-product__section our-product__section--yellow" >
            <h2 class="our-product__section-title">ice coffee</h2>
            <p class="our-product__section-article">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                tempor incididunt ut labore et. dolore magna
                aliqua facilisis.</p>
            <button class="our-product__section-btn"></button>
        </li>
        <li class="our-product__section our-product__section--green">
            <h2 class="our-product__section-title">milkshakes</h2>
            <p class="our-product__section-article">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                tempor incididunt ut labore et. dolore magna
                aliqua facilisis.</p>
            <button class="our-product__section-btn"></button>
        </li>
    </ul>
</div>
<!-- <button type="button" class="menu-close-btn">
    <svg class="menu-close-icon">
        <use href="./img/icons.svg#icon-close"></use>
    </svg>
</button> -->
    </div>
</section>