<section class="reviews">
  <div class="container">
    <ul class="reviews-item__list list-no-ls">
      <li class="reviews-item__item">
        <img
          src="../src/images/mobil/comment-foto1-mobil-1x.png"
          alt="first comment"
          class="reviews-item__image"
        />
        <div class="reviews-item__background">
          <p class="reviews-item__text">
            Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In
            hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
          </p>
        </div>
      </li>
    </ul>
  </div>
</section>
