.contacts-container {
  background: #fff5f6;
}
.contacts-item {
  padding: 43px 20px;
  width: 220px;
  background: #ffffff;
  border-radius: 30px;
  box-shadow: 0px, 8px rgba(212, 20, 67, 0.1);
  &:not(:last-child) {
    margin-bottom: 20px;
  }
}
.contacts-item__subject {
  width: 80px;
  font-size: 12px;
  font-family: DM Sans;
  line-height: calc(22 / 12);
  text-align: center;
  border-radius: 4px;
  margin-bottom: 25px;
  background: #f0d1a5;
  color: #ffffff;
}
.green {
  background: #c2e297;
}
.contacts-item__title {
  font-size: 12px;
  line-height: calc(22 / 12);
  margin-bottom: 10px;
}
.contacts-item__text {
  font-size: 12px;
  line-height: calc(18 / 12);
  color: #907e82;
  margin-bottom: 50px;
  position: relative;
  width: 180px;
}
.contacts-item__text::after,
.contacts-item__schedule::after {
  content: '';
  display: block;
  height: 1px;
  background-color: #e1e1e1;
  position: absolute;
  margin-top: 25px;
  left: 0;
  width: 180px;
}
.contacts-item__schedule {
  position: relative;
  margin-bottom: 25px;
}
.contacts-item__schedule-item {
  font-family: DM Sans;
  font-size: 12px;
  line-height: calc(22 / 12);
  &:not(:last-child) {
    margin-bottom: 10px;
  }
}

.contacts-item__schedule-title {
  color: #000000;
}
.contacts-item__schedule-time {
  color: #ffa5ba;
}
.contacts-link {
  padding-top: 25px;
}
.contacts-link__tel,
.contacts-link__mail {
  font-size: 12px;
  line-height: calc(18 / 12);
  color: #907e82;
}
.btn {
  font-size: 16px;
  line-height: calc(20 / 16);
  font-weight: 700;
  width: 161px;
  height: 44px;
  border-radius: 22px;
  text-align: center;
  border: none;
  &:not(:last-child) {
    margin-bottom: 54px;
  }
}
.contacts-btn {
  margin-top: 54px;
  width: 220px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.btn-pink {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #d41342;
  color: #ffffff;
  &:hover,
  &:focus {
    background: #ffffff;
    color: #d41443;
  }
}
.btn-white {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #ffffff;
  color: #d41443;
  &:hover,
  &:focus {
    background: #d41342;
    color: #ffffff;
  }
}
