.section-footer {
  background-color: var(--footer-bg-color);
  @media screen and (max-width: 767px) {
    padding-bottom: 43px;
  }
  @media screen and (min-width: 768px) {
    padding-bottom: 91px;
  }
  @media screen and (min-width: 1280px) {
    padding-bottom: 97px;
  }
}

.footer-container {
  @media screen and (min-width: 768px) {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  @media screen and (min-width: 1280px) {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.slogan-wrapp {
  @media screen and (max-width: 767px) {
    width: 232px;
    margin-bottom: 43px;
  }
  @media screen and (min-width: 768px) {
    width: 340px;
  }
  @media screen and (min-width: 1280px) {
    min-width: 477px;
  }
}

.section-footer__label {
  font-family: Titan One;
  font-weight: 400;
  text-transform: uppercase;
  color: var(--circle-title-color);
  @media screen and (max-width: 767px) {
    font-size: 18px;
    line-height: 1.16;
    margin-bottom: 17px;
  }
  @media screen and (min-width: 768px) {
    font-size: 26px;
    line-height: 1.15;
    letter-spacing: 0.04em;
    margin-bottom: 16px;
  }
  @media screen and (min-width: 1280px) {
    font-size: 30px;
    line-height: 1.13;
    margin-bottom: 15px;
  }
}

.section-footer__text {
  font-family: Titan One;
  text-transform: uppercase;
  font-weight: 400;
  color: var(--btn-first-color);
  @media screen and (max-width: 767px) {
    font-size: 34px;
    line-height: 1.05;
    letter-spacing: 0.04em;
  }
  @media screen and (min-width: 768px) {
    font-size: 48px;
    line-height: 1.14;
    letter-spacing: 0.06em;
  }
  @media screen and (min-width: 1280px) {
    font-size: 58px;
    line-height: 1.13;
  }
}

.soc-wrapp {
  margin-left: auto;
}

.section-footer__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  @media screen and (max-width: 1279px) {
    margin-bottom: 46px;
  }
  @media screen and (min-width: 1280px) {
    margin-bottom: 50px;
  }
}

.section-footer__item {
  @media screen and (max-width: 767px) {
    margin-right: 28px;
  }
  @media screen and (min-width: 768px) {
    margin-right: 30px;
  }
  @media screen and (min-width: 1280px) {
    margin-right: 25px;
  }
  &:last-child {
    margin-right: 0;
  }
}

.section-footer__svg {
  width: 32px;
  height: 32px;
  fill: #fea5bb;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -o-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    fill: #d41443;
  }
  @media screen and (min-width: 768px) {
    width: 34px;
    height: 34px;
  }
}

.section-footer__link {
  border-radius: 50%;
  color: tomato;
  display: block;
  @media screen and (max-width: 767px) {
    width: 32px;
    height: 32px;
  }
  @media screen and (min-width: 768px) {
    width: 34px;
    height: 34px;
  }
}

.section-footer__Tell {
  font-weight: 700;
  text-align: right;
  color: var(--black-color);

  @media screen and (max-width: 767px) {
    font-size: 12px;
    line-height: 1.83;
  }
  @media screen and (min-width: 768px) {
    font-size: 14px;
    line-height: 1.86;
  }
  @media screen and (min-width: 1280px) {
    font-size: 16px;
    line-height: 1.86;
    letter-spacing: 0.02em;
  }
}

.section-footer__mobil {
  color: var(--btn-first-color);
  margin-left: 5px;
}

.container-copy {
  border-top: 1px solid #e1e1e1;
  background-color: var(--footer-bg-color);
  @media screen and (max-width: 767px) {
    padding-top: 22px;
    padding-bottom: 25px;
  }
  @media screen and (min-width: 768px) {
    padding-top: 29px;
    padding-bottom: 18px;
  }
  @media screen and (min-width: 1280px) {
    padding-top: 9px;
    padding-bottom: 10px;
  }
}

.container-copy__copyright {
  margin: 0 auto;
  text-align: center;
  font-weight: 700;
  font-size: 14px;
  color: var(--brown-color-text);
  @media screen and (max-width: 767px) {
    width: 149px;
    line-height: 1.52;
  }
  @media screen and (min-width: 768px) {
    line-height: 1.86;
    letter-spacing: 0.02em;
  }
}

#upbutton {
  width: 35px;
  height: 35px;
  bottom: 20px;
  right: 10px;
  cursor: pointer;
  position: fixed;
  z-index: 999;
  background-image: url(../images/up.png);
  background-size: cover;
  transition: transform 0.25s linear;
  @media screen and (min-width: 768px) {
    height: 70px;
    width: 70px;
  }
}

#upbutton:hover {
  transform: scale(1.5);
}

html {
  scroll-behavior: smooth;
}
