.section-gallery {
  background: var(#fff5f6);
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 69px;
  padding-bottom: 223px;
  width: 100%;

  @media screen and (max-width: 767px) {
  }
  @media screen and (min-width: 768px) and (max-width: 1199px) {
  }
  @media screen and (min-width: 1200px) {
  }
}
