.header {
  background-color: var(--hero-bg-color);
  padding-top: 6px;
}

.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__logo {
  fill: var(--btn-first-color);
}

.header__burger {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  border: none;
  background-color: var(--hero-bg-color);
}
