.products{
    padding-top: 121px;
    padding-bottom: 98px;
//     @media screen and (min-width: 768px) {
//     padding-top: 100px;
//   }
}

.products__text{
margin-bottom: 15px;
font-family: Titan One;
font-weight: 400;
font-size: 18px;
line-height: calc(21 / 18);
text-align: center;
text-transform: uppercase;
color: #FFA5BA;
}

.products__item{
margin-bottom: 144px;
font-family: Titan One;
font-weight: 400;
font-size: 34px;
line-height: calc(39 / 34);
text-align: center;
letter-spacing: 0.04em;
text-transform: uppercase;
color: #D41443;
}
.our-product{
    // padding-top: 113px;
    // padding-bottom: 98px;
    margin-bottom: -30px;

}

.our-product__section{
position: relative;
padding-bottom: 161px;
display:block;
// margin-top: 30px;
margin: 0 auto;
// width: 280px;
width: 100%;
height: 485px;
background-color: #FFB8CA;
border-radius: 24px;
text-align: center;
margin-bottom: 130px;
}
.our-product__section::before{
content: "";
display: block;
width: 249px;
height: 252px;
position: absolute;
top: -113px;
left: 16px;
right: 15px;
margin: 0 auto;
background-image: url(../images/mobil/product1-mobil-1x.png);

}
.our-product__section:nth-child(2):before{
    background-image: url(../images/mobil/product2-mobil-1x.png);
}
.our-product__section:nth-child(3):before{
    background-image: url(../images/mobil/product3-mobil-1x.png);
}

.our-product__section::after{
content: '';
display: block;
width: 26px;
height: 6px;
position: absolute;
top: 215px;
left: 127px;
right: 127px;
margin: 0 auto;
// background-position:center;
background-image: url(../images/pointswhite.svg);
// fill: chartreuse;
}
.our-product__section-title{
margin-bottom: 66px;
padding-top: 161px;
font-family: Titan One;
font-weight: 400;
font-size: 20px;
line-height: calc(23 / 20);
text-align: center;
letter-spacing: 0.04em;
text-transform: uppercase;
color: #FFFFFF;

}
.our-product__section-article{
margin: 0 auto;
margin-bottom: 30px;
// outline: 1px solid tomato;
width: 200px;
font-family: DM Sans;
font-weight: 700;
font-size: 14px;
line-height: 1.52;
text-align: center;
letter-spacing: 0.04em;
color: #FFFFFF;
}
.our-product__section-btn{
    padding: 0;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: none;
    position: relative;
background-color: ffffff;
    transition: background-color 550ms cubic-bezier(0.4, 0, 0.2, 1);
}
.our-product__section-btn:hover,
.our-product__section-btn:focus{
background-color: gold;
box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}


.our-product__section-btn::before{
content: " ";
position: absolute;
display: inline-block;
left: 11px;
border: solid #D41443;
border-width: 2px 0 0 0;
width: 15px;
height: 5px;

    // background-image: url(../images/arrow-right2.svg);
    // use href="./img/icons.svg#icon-linkedin1"
    //     block-size: none;
    // background-repeat: no-repeat;
    // background-position: center;

}
.our-product__section-btn::after{
content: " ";
top: 17px;
left: 18px;
position: absolute;
display: inline-block;
height: 5px;
width: 5px;
border: solid #D41443;
border-width: 0 2px 2px 0;
padding: 3px;
transform: rotate(-45deg);
    }

.our-product__section--yellow{
    background-color: #F0D1A5;
}

.our-product__section--green{
background-color:  #C2E297;
}
.product-top-wrapper {
position: relative;
overflow: hidden;
}
