.reviews-container {
  padding-top: 194px;
  padding-bottom: 170px;
  @media screen and (min-width: 768px) {
    padding-bottom: 197px;
  }
  @media screen and (min-width: 1280px) {
    padding-bottom: 234px;
  }
}

.reviews-items__list {
  position: relative;
  margin: 0 auto;
  max-width: 280px;
  @media screen and (min-width: 768px) {
    max-width: 620px;
  }
  @media screen and (min-width: 1280px) {
    max-width: 926px;
  }
}

.reviews-items__item {
  //   @include align-items;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.reviews-item__background {
  position: relative;
  padding-top: 43px;
  width: 100%;
  height: 308px;
  background-color: #fafafa;
  @media screen and (min-width: 768px) {
    height: 164px;
  }
  @media screen and (min-width: 1280px) {
    height: 138px;
  }
}

.reviews-item__gradient {
  margin: 0 auto;
  width: 100%;
  height: 241px;
  max-width: 157px;
  background: repeating-linear-gradient(#fafafa, #fafafa 28px, #e1e1e1 30px, #e1e1e1 23px);
  @media screen and (min-width: 768px) {
    height: 93px;
    max-width: 460px;
  }
  @media screen and (min-width: 1280px) {
    height: 65px;
    max-width: 880px;
  }
}

.reviews-item__text {
  position: absolute;
  width: 100%;
  height: 241px;
  max-width: 157px;
  font-family: DM Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 2.55;
  text-align: center;
  color: #000000;
  //   @include font-config(500, normal, 2.55, 0em, #000000);
  @media screen and (min-width: 768px) {
    height: 83px;
    max-width: 460px;
    font-size: 14px;
    line-height: 2.16;
    letter-spacing: 0.04em;
  }
  @media screen and (min-width: 1280px) {
    height: 52px;
    width: 100%;
    max-width: 880px;
    font-size: 16px;
    line-height: 1.86;
  }
}

.reviews-item__gradient::before {
  position: absolute;
  top: 30px;
  left: 70px;
  content: '';
  display: block;
  width: 54px;
  height: 40px;
  background-image: url(../images/comment.svg);
  background-repeat: no-repeat;
  background-position: center;
  @media screen and (min-width: 768px) {
    left: 60px;
  }
  @media screen and (min-width: 1280px) {
    left: 20px;
  }
}

.reviews-item__title::before {
  margin: 0 auto;
  content: '';
  display: block;
  width: 32px;
  height: 4px;
  background-image: url(../images/pointspink.svg);
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 18px;
  @media screen and (min-width: 768px) {
    margin-bottom: 14px;
  }
  @media screen and (min-width: 1280px) {
    margin-bottom: 15px;
  }
}

.reviews-item__image {
  position: absolute;
  top: -120px;
}

.reviews-item__title {
  font-family: DM Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.86;
  text-align: center;
  color: #000000;
  margin: 30px;
  @media screen and (min-width: 768px) {
    margin: 24px;
  }
  @media screen and (min-width: 1280px) {
    margin: 15px;
  }
}

// slider

.slides {
  display: none;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

.dot {
  height: 12px;
  width: 12px;
  margin: 0 2px;
  background-color: #d9d9d9;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.home-icon {
  height: 12px;
  width: 12px;
  margin: 0;
  background-color: transparent;
  border-radius: 0;
  border: none;
  display: inline-block;
  background-image: url(../images/home.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  fill: #d9d9d9;
  transition: background-color 0.6s ease;
}

.home-icon.active {
  background-color: transparent;
}

.active {
  background-color: #d31342;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
